.app-container {
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  background: #2d2d2d;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  flex: 1;
  text-align: left;
}

.welcome, .navigation {
  flex: 1;
  text-align: right;
  margin-right: 20px;
}

.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation li {
  display: inline;
  margin: 0 15px;
}

.nav-link, .nav-link-white, .header-link {
  text-decoration: none;
  color: black;
  transition: color 0.3s;
}

.header-link {
  display: flex;
  align-items: center;
}

.nav-link:hover, .nav-link-white:hover {
  color: #4CAF50;
}

.header-link, .nav-link-white {
  color: white;
}

.cart-container {
  background: #f8f9fa;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: right;
}

.cart-container p {
  margin: 5px 0;
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  flex: 2;
}

.title-logo {
  align-items: center;
  width: 100px;
  margin-right: 10px;
}
