.fr-select-group-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem;
}

.fr-select-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.fr-clear-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fr-container {
    padding-left: 100px;
    padding-right: 100px;
}

main {
    padding-top: 30px;
}